/* .navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 100;
    
  }
  
  .logo {
    position: fixed;
    left: 20px;
    width: 80px;
  } */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 120px;
  }
  
  /* .avatar {
    position: fixed;
    right: 30px;
    width: 30px;
  } */
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #e50914;
  }


  .search-notification {
    display: flex;
    align-items: center;
  }
  
  .search-button, .notification-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
    transition: color 0.3s ease;
  }
  
  .search-button:hover, .notification-button:hover {
    color: #e50914;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 1rem;
    transition: color 0.3s ease;
  }
  
  .icon-button:hover {
    color: #e50914;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
  }